body{
    font-size: 16px; /*1em*/
    max-width: 1078px;
    margin: 0px auto;
    min-width: 1078px;
}
header input{
    float: right;
    margin-right: -200px;
    margin-top: 15px;
    position: relative;
}

header nav ul li{
    border-bottom: 1px solid gray;
    color: gray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 2px;
    /*text-decoration: underline; no funciona del todo*/

}

header nav{
    /*border: 1px solid red;*/  /*para ver el contorno de la caja*/
    /*aqui se mueve toda la caja*/
    margin-left: 220px;
}
#bgoffer{
    position: relative;
    top: -410px;
    left: -35px;
}
#granthams{
    margin-top: 25px;
    margin-left: 25px;
}

#paint{
    float: right;
}
#primeraseccion {
    height: 318px;
    margin-top: 60px;
}
#primeraseccion article{
    display: inline-block;  /*los dos artivle se pondran horizontal mientras quepan*/
    vertical-align: top;
}
#secc01art01{
    width: 60%;
}
#secc01art02{
    width: 30%;
    margin-left: 50px;
}
#secc01art02 ul{
    list-style: none;
}
#secc01art02 ul li:before{
    color: rgb(236, 6, 167);
    content: "+";
}
#segundaseccion article{
    text-align: right;
    padding-right: 155px;
    /**margin-right: 155px;*/
}
#terceraseccion article{
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#terceraseccion article img{
    vertical-align: middle;
}
#secc03art04{
padding-top: 50px;
}
#footer{
    background-color: blue;
}



.colorazul{
    color: blue;
}
.colorrosa{
    color: rgb(236, 6, 167);
}
.colorverde{
    color: green;
}
.colorblanco{
    color: white;
}
.letragrande{
    font-size: 3.5em;
}
.letramediana{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}